<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(224, 95, 95);">
    <center><h1 style="color:rgb(9, 20, 236);"><marquee behavior="" direction="">JAGAPATHI BABU</marquee></h1></center>
    <H1><EM>NAME:</EM><I>Veeramachaneni Jagapathi Chowdary</I></H1>
    <H1><EM>BORN:</EM><I>12 February 1962 , Machilipatnam</I></H1>
    <H1><EM><U>MOVIES:</U></EM><h2>salaar</h2><h2>legend</h2><h2>jagapathi</h2><h2>rudrangi</h2></H1>
</body>
</html>