<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(186, 101, 119);">
    <center><h1 style="color:rgb(9, 236, 236);"><b><marquee behavior="" direction=""> YOUNG TIGER NTR </marquee></b></h1></center>
    <h1><em>NAME:</em>nandamuri taraka rama rao</h1>
    <h1><em>BORN:</em>20  may 1983 in hyderabad</h1>
    <h1><em><u>MOVIES:</u></em><H2>RRR</H2><h2>janatha garage</h2><h2>brundavanam</h2><h2>devera</h2></h1>
</body>
</html>