<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(147, 95, 224);">
    <center><h1 style="color:rgb(236, 77, 9);"><marquee behavior="" direction="">PRIYANKA MOHAN</marquee></h1></center>
    <H1><Em>NAME:</Em><I>Priyanka Arul Mohan</I></H1>
    <H1><EM>BORN:</EM><I>20 November 1994 , Chennai</I></H1>
    <H1><EM><U>MOVIES:</U></EM><H2>Nani's Gang Leader</H2><H2>doctor</H2><h2>don</h2></H1>
</body>
</html>