<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(51, 184, 56);">
    <center><h1 style="color:rgb(236, 9, 168);"><MARquee>MISS SUPERNATIONAL SRINIDHI SHETTY</MARquee></h1></center>
    <h1><em>NAME:</em><i>srinidhi ramesh shetty</i></h1>
    <h1><em>BORN:</em><i>21 oct 1992 in kinnigali</i></h1>
    <h1><em><u>MOVIES:</u></em><h2>kgf 1</h2><h2>kgf 2</h2><h2>cobra</h2></h1>
</body>
</html>